$primary: #ACA6C6;
$secondary: #535353;
$accent: #9470E0;
$bg-primary: #1D1D20;
$bg-secondary: #29292D;
$text: #B4B4B4;
$border: #00D098;

$success: #44CA91;
$warning: #ffd556;
$danger: #F4737E;
$neutral: #DCDCDF;