
.tab-list-item {
  display: inline-block;
  cursor: pointer;
}

.tab-list-active {
  font-weight: bold;
}

.sub-menu_activeBar {
  display: block;
  position: absolute;
  height: 2px;
  width: 100px;
  left: 0;
  bottom: 0;
  background: #fff;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: rgb(105, 105, 105);
  transition: transform .5s ease, width .5s ease;

}
.customShadow{
  box-shadow: inset 0 -1px #ffffff24;
}
.tab-list-item {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tab-list-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.2;
  z-index: -1;
  border-radius: 10px;
  transition: transform 1s ease, width 1s ease;
  
}